<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog your Tech</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Blog your Tech</a>
            </h1>
        </header>
        <main>
            {{!-- handlebars syntax plug-in for data --}}
            {{{ body }}}
        </main>
        <footer>
            Thanks for Blogging!
        </footer>
    </div>
</body>

</html>