{{!-- the use of #each to begin a loop and /each to end the loop
every item in between wil, be repeated for every item in posts --}}
<ol class="post-list">
    {{#each posts as a |post|}}
    <li>
        {{!-- to use partial use '>' followed by name of the partial file and object to pass to the partial --}}
{{> post-info post}}
    </li>
    {{/each}}
</ol>